@import url("colors.css");

* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Fira Code Retina, Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    /* background-color: rgba(43, 48, 59, 0.5); */
    /* background-color: rgba(34, 34, 38, 0.9); */
    background-color: @bg1;
    /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
    color: @base;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

#workspaces button {
    padding: 5px 5px;
    background-color: @act1;
    color: #ffffff;
    /* border-bottom: 3px solid transparent; */
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit;
    border-bottom: 3px solid @war;
}

#workspaces button.focused {
    background-color: @act2;
    border-bottom: 3px solid @war;
}

#workspaces button.urgent {
    background-color: @war;
}

#mode {
    background-color: @err;
    /* border-bottom: 3px solid #ffffff; */
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 10px;
    margin: 0 4px;
    color: @base07;
}

#clock {
    background-color: @act2;
}

#battery {
    background-color: @act2;
    color: @base07;
}

#battery.charging {
    color: @base07;
    background-color: @head2;
}

@keyframes blink {
    to {
        background-color: @base07;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: @err;
    color: @base07;
    /* disable blinking, annoying to have second battery blink */
    /* animation-name: blink; */
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: @act1;
}

#cpu {
    background-color: @act2;
}

#memory {
    background-color: @act2;
}

#backlight {
    background-color: @act2;
}

#network {
    background-color: @act2;
}

#network.disconnected {
    background-color: @war;
}

#pulseaudio {
    background-color: @act2;
}

#pulseaudio.muted {
    background-color: @keyword;
}

#custom-media {
    background-color: @base0C;
    color: @bg1;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: @suc;
}

#custom-media.custom-vlc {
    background-color: @war;
}

#temperature {
    background-color: @act2;
}

#temperature.critical {
    background-color: @err;
}

#tray {
    background-color: @act2;
}

#idle_inhibitor {
    background-color: @bg2;
}

#idle_inhibitor.activated {
    background-color: @keyword;
}

